/* 初期設定 */
*{
    margin: 0;
    padding: 0;
    color: #534A42;
    font-family: "ヒラギノ角ゴ ProN", "游ゴシック", "メイリオ", "MS Pゴシック", "sans-serif";
}

/* タグ別初期設定 */
h2{
    font-size: 30px;
    font-weight: 900;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 18px;
}

ul{
    list-style: none;
}

li{
    display: block;
    font-size: 18px;
}

a{
    text-decoration: none;
}


/* パーツ */
.marker_yellow{
    background: linear-gradient(transparent 75%, #ffdc00 75%);
    font-weight: bold;
}


/* body */
body{
    background-color: #dddbd877;
}

/* ヘッダー及びフッター */
header{
    background-color: #ea9034;
    height: 100px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
}

.header_logo{
    height: 60px;
    padding: 20px 30px;
    margin: auto;
}

.footer_logo{
    height: 70px;
}

footer{
    background-color: #160d00c9;
    height: 150px;
    margin-top: 50px;
    padding: 30px 50px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}


/* コンテンツ */
.container{
    width: 90%;
    margin: auto;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.main{
    width: 70%;
    margin-right: 30px;
}

.side{
    width: 20%;
}

.paper{
    background-color: #fff;
    box-shadow: 4px 5px 0 0 #e8e1d2;
    padding: 10px 20px;
    margin-bottom: 40px;
}
.paper > h2{
    border-left: 8px solid #534A42;
    border-bottom: 3px solid #534A42;
    padding-left: 20px;
    margin-bottom: 5px;
}

.paper > img{
    margin: 0 5%;
}

.paper > p{
    padding: 10px;
}

.paper > a > h3{
    border-bottom: 3px solid #e8e1d2;
    transition: border 0.2s;
}

.paper > a > h3:hover{
    cursor: pointer;
    border-bottom: 3px solid #534A42;
}

.menu > li > a{
    padding: 1px 5px;
    transition: background 0.2s;
}

.menu > li > a:hover{
    cursor: pointer;
    background-color: #534A42;
    color: #fff;
}

.navigation{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
}

.btn{
    display: inline-block;
    margin: 15px 10%;
    padding: 10px 0;
    text-align: center;
    border: none;
    background-color: rgb(234, 144, 52, 1);
    font-size: 16px;
    font-weight: bold;
    width: 80%;
    border-radius: 5px;
    box-shadow: 3px 4px 0 0 rgb(158, 154, 144);
}

.btn:hover{
    background-color: rgb(234, 144, 52, 0.8);
}